@model IEnumerable<ProjetoTerra.Models.Cliente>

@{
    ViewData["Title"] = "Cliente";
}

<h1>Clientes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anotacoes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anotacoes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_cliente">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_cliente">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_cliente">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
